<head>
    <link rel="stylesheet" href="../styles/style.css">
</head>



<header>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="timeAndDate">
       <p style="color: white; cursor: pointer; font-weight: 600; font-size: 1.3rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> 28Th Febuary, 2026</p>
    </div>


    <div class="addTask">
        <p style="color: white;  cursor: pointer;font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.4rem;">New Task</p>
    </div>
    

    <script src="../script/script.js"></script>
</header>